* {
    margin: 0;
}

body {
    background: #0a1930;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 4em;
    background: #0a1930;
}
main {
    padding-bottom: 7em;
    padding-top: 4em;
}
#brand {
    font-size: 2em;
    color: #ccd6f6;
}

/* default display for #dynamic-content */
.content-item {
    display: none;
    padding-top: 2em;
}

.show-content {
    display: block;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
    height: 2em;
    border-bottom: 2px solid #ccd7f6;
}

.profile {
    width: 100%;
    height: 48vh;
    margin-bottom: 1.5em;
}
.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2em;
}
#home h1 {
    /* font-family: 'Cabin', sans-serif; */
    /* font-family: 'Bebas Neue', sans-serif; */
    /* font-family: 'Abril Fatface', sans-serif;  LIKEEE */
    /* font-family: 'Asap', sans-serif; */
    font-family: 'Englebert', sans-serif;
    /* font-family: sans-serif; */
    line-height: 1.2;
    margin-bottom: 1em;
    font-size: 1.6em;
}

#home .full-stack {
    display: block;
    margin-top: 0.5em;
}

#home p {
    line-height: 1.7;
    font-size: 1.1em;
}

#mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #203453;
    top: 0;
    left: 100%;
    transition: all 0.5s ease-in-out;
}

#mobile-menu .nav-item {
    text-align: center;
    margin: 2.5em 0em;
    padding: 0.7em 0em;
    cursor: pointer;
    list-style: none;
    font-family: 'Asap', sans-serif;
    transition: all 0.6s;
    color: #ccd6f6;
}
nav .nav-active {
    border-bottom-color: #ccd6f6;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

#nav-list {
    display: none;
    padding-left: 0px;
}

#mobile-menu ul {
    padding-left: 0px;
    width: 5.5em;
}
#mobile-menu.mm-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #203453;
    top: 0;
    left: 0;
}
.menu-open {
    color: #ccd6f6;
}
.menu-close {
    color: #ccd6f6;
}
#mobile-menu .mobile-close {
    align-self: end;
    padding: 1.2em 1em;
}

.d-block {
    display: block;
}

#main-content {
    display: flex;
    flex-direction: column;
}
h2, h3, h4, p {
    font-family: 'Asap', sans-serif;
}
h3 {
    font-size: 1.5em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4em;
    background: #0a1930;
}
#links {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-top: 2px solid #ccd7f6;
    padding: 1.4em 0;
}
#links a {
    color: black;
}
#links .fa-brands, 
#links .fa-envelope {
    color: #ccd6f6;
}

#dynamic-content {
    display: flex;
    flex-direction: column;
    color: #ccd6f6;
}
#home {
    width: 90%;
    align-self: center;
}

#bio {
    width: 90%;
    align-self: center;
}

#resume {
    width: 90%;
    align-self: center;
}
.tech-skills {
    display: none;
}
.tech-skills-open {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skill-item {
    text-align: center;
}
.skill-item img {
    max-width: 60px;
}
#job-container {
    margin-top: 0.5em;
    display: none;
}
.job-title {
    font-size: 1.2em;
}
#job-container ul {
    list-style-type: circle;
}
#resume-file {
    background: #AAF652;
    text-align: center;
    padding: 1.2em 1em;
    border-radius: 1.1em;
    cursor: pointer;
    list-style: none;
    font-family: 'Asap', sans-serif;
    min-width: 7em;
    font-size: 1em;
    border: none;
    margin-top: 0.5em;
    text-transform: capitalize;
}
#resume-file a {
    text-decoration: none;
}

#projects {
    width: 90%;
    align-self: center;
}
#projects h2 {
    margin-bottom: 15px;
}
.project-item {
    margin-bottom: 1em;
}
.project-item img {
    width: 100%;
}
.carousel-button {
    display: none;
}
#reveal-1, #reveal-2, #reveal-3 {
    display: none;
}
.modal {
    display: none;
}
.project-cta-container {
    display: none;
}

/* tablet portrait */
@media (min-width: 768px) {
    #header {
        flex-direction: row;
        padding: 0em 1.5em;
    }
    #pic-title {
        margin-left: 2.5em;
        justify-content: flex-start;
        margin-bottom: 0;
    }
    #mobile-menu.mm-show {
        display: none;
    }
    #nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0px;
        align-items: center;
        list-style: none;
        width: 25em;
    }
    .nav-item {
        min-width: 3em;
        font-family: 'Asap', sans-serif;
        color: #ccd6f6;
    }
    #three-dots {
        display: none;
    }
    #main-content {
        flex-direction: row;
        margin: 0 1em;
    }
    #dynamic-content {
        flex-direction: row;
        flex-basis: 80%;
        position: relative;
    }
    #home {
        align-self: flex-start;
    }
    #bio {
        align-self: flex-start;
    }
    #resume {
        align-self: flex-start;
    }
    .tech-skills-open {
        width: 50vw;
    }
    #projects {
        align-self: flex-start;
    }
    .content-item {
        position: absolute;
        border-top: none;
        padding-top: 0;
        border-left: 1px solid black;
        padding-left: 1em;
        min-height: 150px;
    }
    
    /* carousel styles */
    #project-container {
        display: flex;
        justify-content: center;
    }
    #project-list-carousel {
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .carousel-projects {
        width: 480px;
        padding: 10px;
        border-radius: 5px;
    }
    .carousel-projects .project-item {
        width: 100%;
        border-radius: 10px;
        display: none;
    }
    .carousel-button {
        display: block;
        align-self: center;
        background: #AAF652;
        color: black;
        padding: 5px 9px;
        border-radius: 50%;
        text-align: center;
    }
    .carousel-button:hover {
        cursor: pointer;
        background: #fa8d8e;
        color: white;
    }
    .carousel-projects .show-project {
        display: block;
    }
    .project-item p {
        display: none;
    }

    /* modal styles */
    .modal {
        display: none;
        background-color: rgba(0,0,0,0.8);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    #modal-textbox {
        display: flex;
        background-color: white;
        flex-direction: column;
        width: 450px;
        border-radius: 25px;
        margin: 100px auto;
        padding: 30px 30px;
    }
    #modal-textbox img {
        margin-bottom: 1em;
    }
    #modal-textbox h3 {
        color: black;
        margin-bottom: 1em;
        display: block;
    }
    #modal-textbox p {
        color: black;
        margin-bottom: 1em;
        display: block;
    }
    #modal-footer {
        text-align: right;
        color: black;
    }
    .show-modal {
        display: block;
    }
    #reveal-1, #reveal-2, #reveal-3 {
        display: block;
    }
    .project-cta {
        background: #AAF652;
        text-align: center;
        padding: 1.2em 1em;
        border-radius: 1.1em;
        cursor: pointer;
        list-style: none;
        font-family: 'Asap', sans-serif;
        min-width: 7em;
        font-size: 1em;
        border: none;
        margin-top: 0.5em;
    }
    .project-cta-container {
        display: flex;
        justify-content: end;
    }
    .close-modal {
        background: #AAF652;
        text-align: center;
        padding: 1.2em 1em;
        border-radius: 1.1em;
        cursor: pointer;
        font-family: 'Asap', sans-serif;
        min-width: 7em;
        font-size: 1em;
        border: none;
    }

    #links {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 200px;
        width: 80px;
        align-self: flex-start;
        border-right-style: solid;
        border-right-width: 2px;
        border-right-color: #ccd7f6;
        border-top: none;
        padding-bottom: 1.5em;
        margin-bottom: 0;
    }
}

/* tablet landscape */
@media (min-width: 1024px) {
    #pic-title {
        justify-content: flex-start;
        margin-left: 2.5em;
        width: 33%;
    }
    #pic-title h1 {
        min-width: 9em;
    }
    #pic-title img {
        max-width: 100px;
        border-radius: 50%;
        max-height: 100px;
        object-fit: cover;
        margin-right: 1em;
    }
    nav .nav-item {
        min-width: 5em;
    }
    .tech-skills-open {
        width: 40vw;
    }
    #project-list-carousel {
        max-width: 600px;
        align-self: center;
    }
    #modal-textbox {
        width: 600px;
    }
}

/* small laptop width */
@media (min-width: 1200px) {

    /* animation logic */
    /* ----------------------------------------------
    * Generated by Animista on 2022-11-7 11:26:34
    * Licensed under FreeBSD License.
    * See http://animista.net/license for more info. 
    * w: http://animista.net, t: @cssanimista
    * ---------------------------------------------- */

    /**
    * ----------------------------------------
    * animation shadow-drop-center
    * ----------------------------------------
    */
    @-webkit-keyframes shadow-drop-center {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
    @keyframes shadow-drop-center {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
    }
  
    #pic-title img {
        width: 120px;
        border-radius: 50%;
        height: 110px;
        object-fit: cover;
        margin-right: 1em;
    }
    .nav-item:hover {
        background: #FF9100;
        -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    .carousel-button:hover {
        background: #FF9100;
    }
    .project-cta:hover {
        background: #FF9100;
    }
}