* {
    margin: 0;
}

body {
    background: bisque;
}

/* default display for #dynamic-content */
.content-item {
    display: none;
}

.show-content {
    display: block;
}

#header {
    margin: 1em 0px;
    display: flex;
    flex-direction: column;
}

#pic-title {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
}
#pic-title img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
    margin-right: 1em;
}

nav {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
}
nav .nav-item {
    background: lightyellow;
    text-align: center;
    padding: 1.2em 1em;
    border-radius: 1.1em;
    cursor: pointer;
}
#nav-list ul {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    height: 260px;
    justify-content: space-between;
}
#nav-list li {
    list-style: none;
}

.d-block {
    display: block;
}

#main-content {
    display: flex;
    flex-direction: column;
}

#links {
    display: flex;
    width: 165px;
    justify-content: space-evenly;
    align-self: center;
}
#links img {
    width: 30px;
}

#bio {
    width: 90%;
    margin: 0 auto;
}

#resume {
    width: 90%;
    margin: 0 auto;
}

.carousel-button {
    display: none;
}
#projects {
    width: 90%;
    margin: 0 auto;
}
#projects h2 {
    margin-bottom: 15px;
}
.project-item {
    margin-bottom: 1em;
}
.project-item img {
    width: 100%;
}

/* tablet portrait */
@media (min-width: 768px) {
    #header {
        flex-direction: row;
    }
    #pic-title {
        justify-content: center;
    }
    #nav-list {
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
        align-items: center;
    }
    #nav-list ul {
        flex-direction: row;
        height: 56px;
        align-content: center;
        width: 100%;
        justify-content: space-around;
    }
    .nav-item {
        padding: 1.3em;
    }
    #main-content {
        flex-direction: row;
        margin: 0 1em;
    }
    .content-item {
        position: absolute;
    }
    
    /* carousel styles */
    #project-container {
        display: flex;
        justify-content: center;
    }
    #project-list-carousel {
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .carousel-projects {
        width: 480px;
        padding: 10px;
        border-radius: 5px;
    }
    .carousel-projects .project-item {
        width: 100%;
        border-radius: 10px;
        display: none;
    }
    .carousel-button {
        display: block;
        align-self: center;
        background: blue;
        color: red;
        padding: 5px 9px;
        border-radius: 50%;
        text-align: center;
    }
    .carousel-button:hover {
        cursor: pointer;
        background: #fa8d8e;
        color: white;
    }
    .carousel-projects .show-project {
        display: block;
    }
    .project-item h3, .project-item p {
        display: none;
    }

    /* modal styles */
    .modal {
        display: none;
        background-color: rgba(0,0,0,0.8);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    #modal-textbox {
        display: flex;
        background-color: white;
        flex-direction: column;
        width: 500px;
        border-radius: 25px;
        margin: 100px auto;
        padding: 30px 30px;
    }
    #modal-textbox img {
        margin-bottom: 1em;
    }
    #modal-textbox h3 {
        color: black;
        margin-bottom: 1em;
        display: block;
    }
    #modal-textbox p {
        color: black;
        margin-bottom: 1em;
        display: block;
    }
    #modal-footer {
        text-align: right;
        color: black;
    }
    .show-modal {
        display: block;
    }

    #links {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 129px;
        width: 80px;
        align-self: flex-start;
    }
}

/* tablet landscape */
@media (min-width: 1024px) {
    #pic-title {
        justify-content: flex-start;
        margin-left: 3em;
        width: 33%;
    }
    #pic-title img {
        width: 150px;
        border-radius: 50%;
        height: 110px;
        object-fit: cover;
        margin-right: 1em;
    }
    nav .nav-item {
        width: 7em;
    }
    #project-list-carousel {
        max-width: 600px;
        align-self: center;
    }
}

/* small laptop width */
@media (min-width: 1200px) {
    #pic-title img {
        width: 120px;
        border-radius: 50%;
        height: 110px;
        object-fit: cover;
        margin-right: 1em;
    }
    /* #links {
        width: 25%;
    } */
}