* {
    margin: 0;
}

body {
    background: bisque;
}

/* default display for #dynamic-content */
.content-item {
    display: none;
}

.show-content {
    display: block;
}

/* pretty sure don't need this */
/* #home {
    margin: 1em 0px;
    display: flex;
    flex-direction: column;
} */

#pic-title {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
}
#pic-title img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
    margin-right: 1em;
}

nav {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
}
nav .nav-item {
    background: lightyellow;
    text-align: center;
    padding: 1.2em 1em;
    border-radius: 1.1em;
    cursor: pointer;
}
#nav-list ul {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    height: 260px;
    justify-content: space-between;
}
#nav-list li {
    list-style: none;
}

.d-block {
    display: block;
}

#main-content {
    display: flex;
    flex-direction: column;
}

#links {
    display: flex;
    width: 33%;
    margin: 0 auto;
    justify-content: space-between;
}
#links img {
    width: 30px;
}

#bio {
    width: 90%;
    margin: 0 auto;
}

#resume {
    width: 90%;
    margin: 0 auto;
}

#projects {
    width: 90%;
    margin: 0 auto;
}
#projects h2 {
    margin-bottom: 15px;
}
.project-item {
    margin-bottom: 1em;
}
.project-item img {
    width: 100%;
}

/* tablet portrait */
@media (min-width: 768px) {
    /* #home {
        flex-direction: row;
    } */
    #pic-title {
        justify-content: center;
    }
    #nav-list {
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
        align-items: center;
    }
    #nav-list ul {
        flex-direction: row;
        height: 56px;
        align-content: center;
        width: 100%;
        justify-content: space-around;
    }
    .nav-item {
        padding: 1.3em;
    }
    #main-content {
        flex-direction: row;
        margin: 0 1em;
    }
    #links {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 129px;
    }
}

/* tablet landscape */
@media (min-width: 1024px) {
    #pic-title {
        justify-content: flex-start;
        margin-left: 3em;
        width: 33%;
    }
    #pic-title img {
        width: 150px;
        border-radius: 50%;
        height: 110px;
        object-fit: cover;
        margin-right: 1em;
    }
    nav .nav-item {
        width: 7em;
    }
}

/* small laptop width */
@media (min-width: 1200px) {
    #pic-title img {
        width: 120px;
        border-radius: 50%;
        height: 110px;
        object-fit: cover;
        margin-right: 1em;
    }
    #links {
        width: 25%;
    }
}